.notification-center {
    margin-top: 22px;
    
    .dropdown-menu {
        width: 375px;
    }

    .dropdown-item {
        white-space: normal;

        &:active, &:hover {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa; 
        }
    }

    i {
        font-size: 24px;
    }

    span {
        position: absolute;
        left: 15px;
        bottom: 20px;
    }

    .notification {
        width: 290px;

        a {
            color: #16181b;
        }

        p {
            word-break: break-word;
            width: 230px;
        }

        .danger-bar {
            border-left: 5px solid $red;
        }

        .success-bar {
            border-left: 5px solid $green;
        }
    }
}