/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/assets
/public/fonts
/public/images
/public/mix-manifest.json
/storage/*.key
/storage/framework/laravel-excel
/vendor
/test-coverage
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.vscode/
**/.DS_Store
