import:
  - recipe/laravel.php
  - contrib/yarn.php

config:
  application: 'app name'
  repository: 'https://github.com/someone/project.git'
  release_path: '/var/www/somewhere'

hosts:
  production:
    remote_user: user
    hostname: 'userssite.com'
    deploy_path: '{{release_path}}'

tasks:
  build:
    - cd: '{{release_path}}'
    - run: 'deploy:prepare'
    - run: 'deploy:vendors'
    - run: 'php artisan:storage:link'
    - run: 'php artisan:view:cache'
    - run: 'php artisan:config:cache'
    - run: 'php artisan:migrate'
    - run: 'cd {{release_path}} && php artisan:move:files'
    - run: 'cd {{release_path}} && yarn install && yarn run prod'
    - run: 'cd {{release_path}} && yarn run prod'
    - run: 'cd {{release_path}} && artisan:fetch:tag-data'
    - run: 'deploy:publish'

after:
  deploy:failed: deploy:unlock
