<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" printerClass="\Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <exclude>
      <directory suffix=".php">./app/Flare/MapGenerator</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Console">
      <directory suffix="Test.php">./tests/Console</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
      <ini name="memory_limit" value="-1" />
      <env name="APP_ENV" value="testing"/>
      <env name="BCRYPT_ROUNDS" value="4"/>
      <env name="CACHE_DRIVER" value="array"/>
      <env name="MAIL_DRIVER" value="array"/>
      <env name="MAIL_USERNAME" value="test@example.ca" />
      <env name="QUEUE_CONNECTION" value="sync"/>
      <env name="DB_CONNECTION" value="mysql"/>
      <env name="DB_DATABASE" value="flare_test"/>
      <env name="SESSION_DRIVER" value="array"/>
      <env name="BROADCAST_DRIVER" value="log"/>
      <env name="TIME_ZONE" value="America/Edmonton"/>
  </php>
</phpunit>
