// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0095ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ea726e;
$orange: #f6993f;
$yellow: #d1ca86;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #a8d0f1;
$gold: #ccab06;

// Borders:
$border: 0;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px,
  xxxl: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
  xxxl: 1900px
);
