// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Game
@import 'game/chat';
@import 'game/actions';
@import 'game/map';

.temp {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  background: #000;
  color: #fff;
  padding: 26px;
}
