// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../vendor/monster/theme/css/style.css';

// Game
@import 'game/chat';
@import 'game/actions';
@import 'game/map';
@import 'game/character-sheet';
@import 'game/top-bar';
@import 'game/inventory';

dl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: -10px;
}

dt {
  margin-left: auto;
  width: 50%;
  text-align: left;
}

dd {
  margin-left: auto;
  width: 50%;
}

.force-left {
  position: absolute;
  left: 20px;
}

.modal-title {
  cursor: crosshair;
}
