// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme:
@import 'core-theme';
@import 'dark-theme';

// RPG Icons
@import 'node_modules/rpg-awesome/scss/rpg-awesome';

// Game
@import 'game/chat';
@import 'game/actions';
@import 'game/adventure';
@import 'game/map';
@import 'game/character-sheet';
@import 'game/top-bar';
@import 'game/inventory';
@import 'game/shop';
@import 'game/icons';

// Components:
@import 'game/components/react-notifications/notification';

// livewire components:
@import 'game/components/livewire/form-wizard';

legend {
  font-size: 0.9rem;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: -10px;
}

dt {
  margin-left: auto;
  width: 50%;
  text-align: left;
}

dd {
  margin-left: auto;
  width: 50%;

  ul {
    margin-left: -40px;
    list-style: none;
  }
}

.force-left {
  position: absolute;
  left: 20px;
}

.modal-body {
  text-align: initial;
}

.train-skill-btn {
  position: relative;
  top: -7px;
}

.card {
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0 2px 0px rgba(115, 115, 115, 0.55);
  -moz-box-shadow: 0px 0 2px 0px rgba(115, 115, 115, 0.55);
  box-shadow: 0px 0 2px 0px rgba(115, 115, 115, 0.55);
}

.progress {
  height: 15px;
}

#sidebarnav {
  li {
    ul {
      margin-top: -7px;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 650px;
      margin: 1.75rem auto;
  }
}
