.page {
  margin-top: -45px;
  padding-top: 40px;
  padding-bottom: 150px;

  blockquote {
    background-color: lighten(#009efb, 45);
  }

  @media only screen and (max-width: 768px) {
    margin-top: 0px;
  }
}

.info-sidebar {

  overflow-y: scroll;

  @media only screen and (max-width: 1027px) {
    display: none;
  }

  ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 10px 0;
  }
}

.info-sidebar-toggler {
  display: none;

  @media only screen and (max-width: 1027px) {
    display: block !important;
  }
}

.showSidebar {
  display: block !important;
}

.info-text {
  font-size: 18px;
}
