/**
 * These classes are overrides for the existing calendar component.
 */


/*

  Makes it so that the day header on the calendar sits below all other elements.
  the default is 999, which interfears with the sidebar.

*/
.css-e572m3 {
    z-index: 0 !important;
}

/*
    Makes it so when a modal is opened the week columns at the top of the monthly calendar view
    does not over lay any modal opened above it.
*/
.css-ncbr6b {
    z-index: 0 !important;
}

/*
    Change the position of the react-date picker
*/
.react-datepicker__portal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
    align-items: normal !important;
    justify-content: initial !important;
    left: initial !important;
    top: initial !important;
    display: flex;
    z-index: 2147483647;
}
