.ocean-depths {
    color: #2ddaa5;
}

.memories-grass {
    color: #c9ddb9;
}

.depths-despair {
    color: #88cdad;
}

.lipstick {
    color: #ff4979
}

.fifties-cheeks {
    color: #d195ac
}

.sky-clouds {
    color: #d3e1f3;
}

.golden-sheen {
    color: #f9e067;
}