@import "../vendor/theme/assets/css/style.css";
@import "./map.css";
@import "./fight-buttons.css";
@import "./react-data-tables.css";
@import "./item-colors.css";
@import "./guide-quests-admin.css";
@import "./chat-global-message-colors.css";
@import "./cosmetic-text-colors.css";
@import "./icon-animations.css";
@import "../../vendor/rappasoft/laravel-livewire-tables/resources/css/laravel-livewire-tables.min.css";

#perPage {
    width: 50px;
    margin-top: -10px;
    margin-left: 10px;
}

.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"] *)) {
    @apply p-[10px] !important;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
    @apply pl-[10px] !important;
}

.glightbox {
    img {
        @apply max-w-3xl mx-auto mt-3 mb-3;
    }
}

.gdesc-inner {
    display: none;
}

.scrolling-section {
    max-height: calc(100vh - 5rem);
    overflow-y: scroll;
}

blockquote {
    @apply bg-blue-100 dark:bg-blue-500 border-solid border border-blue-300 dark:border-blue-700 rounded-sm py-1 border-l-8 border-l-blue-500 dark:border-blue-900 dark:text-gray-300 !important;

    h3 {
        @apply text-blue-900 not-italic mt-1 !important;
    }

    p {
        @apply not-italic mt-1 !important;
    }

    strong {
        @apply text-blue-800 !important;
    }
}

dl {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: -10px;
}

dt {
    width: 50%;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 4px;
}

dd {
    margin-left: auto;
    width: 50%;
    margin-bottom: 4px;
    padding-left: 5px;
}

.loading-progress-bar {
    position:absolute;
    animation: borealisBar 2s linear infinite;
    top:0;
    right:100%;
    bottom:0;
    left:0;
}

@keyframes borealisBar {
    0% {
        left:0%;
        right:100%;
        width:0%;
    }
    10% {
        left:0%;
        right:75%;
        width:25%;
    }
    90% {
        right:0%;
        left:75%;
        width:25%;
    }
    100% {
        left:100%;
        right:0%;
        width:0%;
    }
}

