.form-wizard {
    .steps {
        position: relative;
        display: block;
        width: 100%;

        ul {
            display: table;
            width: 100%;
            table-layout: fixed;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: table-cell;
                width: auto;
                vertical-align: top;
                text-align: center;
                position: relative;

                &::before, &::after {
                    content: '';
                    z-index: 9;
                    display: block;
                    position: absolute;
                    top: 45px;
                    width: 46%;
                    height: 3px;
                    background-color: #F3F3F3 
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }

                &:first-child {
                    &::before {
                        content: none;
                    }
                }

                &:last-child {
                    &::after {
                        content: none;
                    }
                }

                a {
                    position: relative;
                    padding-top: 52px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: block;
                    color: #909090;

                    &:hover, :active, :focus, :visited {
                        text-decoration: none;
                        color: #909090;
                    }

                    .circle {
                        width: 50px;
                        height: 50px;
                        line-height: 45px;
                        font-size: 1.3rem;
                        border-radius: 50%;
                        display: inline-block;
                        border: solid 5px #e8e8e8;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -24px;
                        z-index: 10;
                        text-align: center;
                    }

                    .active {
                        border: solid 5px $blue;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) { 

    .form-wizard {
        .steps {
            ul {
                li {
                    &::before, &::after {
                        content: '';
                        z-index: 9;
                        display: block;
                        position: absolute;
                        top: 45px;
                        width: 44%;
                        height: 3px;
                        background-color: #F3F3F3 
                    }
                }
            }
        }
    }
}

@media (max-width:768px) { 

    .form-wizard {
        .steps {
            ul {
                li {
                    &::before, &::after {
                        content: '';
                        z-index: 9;
                        display: block;
                        position: absolute;
                        top: 45px;
                        width: 44%;
                        height: 3px;
                        background-color: #F3F3F3 
                    }
                }
            }
        }
    }
}

@media (max-width:480px) { 

    .form-wizard {
        .steps {
            ul {
                li {
                    &::before, &::after {
                        content: '';
                        z-index: 9;
                        display: block;
                        position: absolute;
                        top: 45px;
                        width: 33%;
                        height: 3px;
                        background-color: #F3F3F3 
                    }
                }
            }
        }
    }
}