.health-meters {
  max-width: 300px;
  margin: 0 auto;

  .character {
    .character-bar {
      background-color: #41840f;
    }
  }

  .monster {
    .monster-bar {
      background-color: #840f15;
    }
  }
}

.monster-select {
  @media only screen and (max-width: 768px) {
    margin-top: 10px;
    margin-bottom: 10px
  }
}

.character-timeout {
  float: left;
  margin-top: -10px;
  margin-left: -40px;

  @media only screen and (max-width: 768px) {
    margin-top: 10px;
    margin-left: -40px;
  }

  .timer {
    font-size: 12px;
  }
}

.enchanting {
  left: -20px !important;
}

.character-ready {
  position: relative;
  left: -40px;

  @media only screen and (max-width: 768px) {
    left: -20px;
  }
}

.character-map-timeout {
  float: left;
  margin-top: -6px;

  .timer {
    font-size: 12px;
  }
}

.adventure-timeout-bar {
  position: relative;
  left: -160px;
  top: -8px;
}
