.health-meters {
  max-width: 300px;
  margin: 0 auto;

  .character {
    .character-bar {
      background-color: #41840f;
    }
  }

  .monster {
    .monster-bar {
      background-color: #840f15;
    }
  }
}

.character-timeout {
  float: left;
  margin-top: -10px;
  margin-left: -20px;

  .timer {
    font-size: 12px;
  }
}

.character-map-timeout {
  float: left;
  margin-top: -6px;

  .timer {
    font-size: 12px;
  }
}

.adventure-timeout-bar {
  position: relative;
  left: -90px;
  top: -5px;
}
