.adventure-fight-log {
    width: 500px;
    margin: 0 auto;
}

@include media-breakpoint-down(sm) {
  .adventure-fight-log {
    width: auto;
  }
}

.log-text {
    p {
        margin-top: -15px;
    }

    .character-color {
        color: #1127d2
    }

    .monster-color {
        color: #d4b516
    }
}
