.character-skill-info {
    dl {
        dt {
            width: 20%;

            a {
                font-weight: lighter;
            }
        }

        dd {
            width: 80%;

            .skill-info-icon {
                font-size: 20px;
                position: relative;
                top: -4px;
            }
        }
    }
}