.character-skill-info {
    dl {
        dt {
            width: 25%;

            a {
                font-weight: lighter;
            }
        }

        dd {
            width: 75%;

            .skill-info-icon {
                font-size: 20px;
                position: relative;
                top: -8px;
            }
        }
    }
    
}