.chat-box {
  background: #333;
  color: #fff;
  overflow-y: scroll;
  max-height: 500px;
  padding-top: 10px;
  height: 500px;

  ul {
    list-style: none;
    margin-left: -20px;

    .private-message {
      color: #b684c0;
      font-style: italic;

      strong {
        cursor: pointer;
      }
    }

    .server-message {
      color: #ec7b7b;
      font-weight: bold;

      a {
        text-decoration: underline;
        color: #eadba5;
      }
    }

    .god-message {
      color: #f8e488;
      font-weight: bold;
      font-size: 18px;
    }

    .error-message {
      color: #fb3b3b;
      font-size: 22px;
    }

    .global-message {
      color: #e8b413;
      font-weight: bold;
    }

    .drop-message {
      color: #a6e2a0;
      font-weight: bold;
    }

    .private-message-sent {
      color: #a9b2f9;
      font-style: italic;
    }

    .npc-message {
      font-weight: bold;
      color: #b0c6fb;
    }

    .message {
      strong {
        cursor: pointer;
      }
    }
  }
}

.message-button {
  @media only screen and (max-width: 768px) {
    margin-top: 10px;
  }
}
