.chat-box {
  background: #333;
  color: #fff;
  overflow-y: scroll;

  ul {
    list-style: none;

    .private-message {
      color: #b684c0;
      font-style: italic;

      strong {
        cursor: pointer;
      }
    }

    .server-message {
      color: #ec7b7b;
      font-weight: bold;
    }

    .god-message {
      color: #f8e488;
      font-weight: bold;
    }

    .error-message {
      color: #fb3b3b;
      font-size: 22px;
    }

    .private-message-sent {
      color: #a9b2f9;
      font-style: italic;
    }

    .message {
      strong {
        cursor: pointer;
      }
    }
  }
}
