.accordion > .card > .card-header {
  cursor: pointer;
}

.accordion > .card {
  overflow: visible;
}

.magical-item {
  color: #8d29b5;

  &:hover, &:visited, &:focus {
    color: #8d29b5;
  }
}

.regular-item {
  color: #777676;

  &:hover, &:visited, &:focus {
    color: #777676;
  }
}

.artifact-item {
  color: #5b689a;

  &:hover, &:visited, &:focus {
    color: #5b689a;
  }
}

.quest-item {
  color: #b78d11;

  &:hover, &:visited, &:focus {
    color: #b78d11;
  }
}

.usable-item {
  color: #e32ca4;

  &:hover, &:visited, &:focus {
    color: #e32ca4;;
  }
}

.color-gold {
  color: $gold;
}

#inventory-item {
  max-width: 500px;

  .item-info .card-header {
    max-width: 500px;
  }
}

#equipped-item {
  max-width: 500px;

  .item-info .card-header {
    max-width: 500px;
  }
}

.normal-item {
  color: #828080;
}

.one-enchant {
  color: #12436b;;
}

.two-enchant {
  color: #703578;
}

.inventory-set-error {
  position: relative;
  top: -1px;
  left: 2px;
}

.inventory-set-equipped {
  position: relative;
  top: 0px;
  left: 2px;
}
