.building-management {
    .modal-title {
        cursor: crosshair;
    }
}

.treasury-btn {
    margin-top: -10px;
}

@include media-breakpoint-down(sm) {
    .treasury-btn {
        margin-top: -10px;
        margin-left: -10px;
    }
  }