.building-management {
    .modal-title {
        cursor: crosshair;
    }
}

.treasury-btn {
    margin-top: -10px;
}

.unit-recruit-button {
  position: relative;
  top: 38px;
}

@include media-breakpoint-down(sm) {
  .treasury-btn {
      margin-top: -10px;
      margin-left: -10px;
  }

  .unit-recruit-button {
    position: inherit;
    top: 0;
    margin-top: 20px;
  }
}
