.building-management {
  max-width: 1000px !important;

  .modal-title {
      cursor: crosshair;
  }
}

.treasury-btn {
    margin-top: -10px;
}

.unit-recruit-button {
  position: relative;
  top: 77px;
}

.kingdom-loading {
  margin: 20px 0 0 0 !important;
  width: 100% !important;
}

@include media-breakpoint-down(sm) {
  .treasury-btn {
      margin-top: -10px;
      margin-left: -10px;
  }

  .unit-recruit-button {
    position: inherit;
    top: 0;
    margin-top: 20px;
  }
}
